<!DOCTYPE html>
<html>
<head>
  <title>Zomato Clone</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="/styles/video_home.css">
</head>

<body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  <section >
      <div id="first_section">

         <div id="insert_video" class="nav_bar">Insert Data</div>
         <div id="fetch_video" class="nav_bar">Fetch Info</div>
         <div id="delete_video" class="nav_bar">Delete Data</div>
       </div>
      <div id="second_section"> World</div>
  </section>

  <script src="/js/video-home.js"></script>
</body>
</html>
