#first_section{
  width: 300px;
  float: left;
  border:1px solid black;
  background: #000;
  height:100vh;
}
#second_section{
  width:500px;
  border:1px solid blue;
  float: left;
}
.nav_bar{
  padding: 10px;
  border: 1px solid rgba(46, 49, 49, 1);
  color:#fff;
}
